<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<link rel="stylesheet" type="text/css" href="style.css" />
<style type="text/css">
body {
width:760px; height: 800px;
margin:0; padding:0; border: 2px; border-color: #000000; border-style: dotted;
}
</style>
<meta http-equiv="Content-Type" content="text/html;
charset=iso-8859-1" />
</head>
<body>
<div id="container">
<h1>Neki retardski naslov!</h1>
<p>{{ user.first_name }} {{ user.last_name }}</p>
</div>
</body>
</html>