html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 0.8em;
  line-height: 0.9em;
  color: white;
  font-family: 'Open Sans', sans-serif;
  background: #007090; }

.content {
  width: 800px;
  margin: 0 auto;
  min-height: 600px;
  background: #990000; }

header {
  font-size: 1.2em;
  line-height: 1.3em; }

nav {
  padding: 0.5em; }
  nav ul > li {
    font-size: 0.8em;
    display: inline-block;
    list-style-type: none;
    padding-right: 1em;
    vertical-align: middle;
    text-transform: uppercase; }

.top-info {
  overflow: hidden;
  position: relative;
  width: 100%; }

.tokens {
  margin-top: 1rem;
  width: 11rem;
  background: #009999;
  display: inline-block; }
  .tokens .silver {
    font-size: 0.8em;
    padding-left: 1.2em;
    display: inline-block;
    width: 4rem;
    vertical-align: top; }
    .tokens .silver span {
      padding-left: 0.5em;
      vertical-align: top;
      color: black; }
  .tokens .buy {
    display: inline-block;
    width: 5.7rem;
    text-align: right;
    padding-right: 0.1rem; }
  .tokens .gold {
    width: 11rem-0.125em;
    vertical-align: top;
    font-size: 1.2em;
    border: 1px solid black; }
    .tokens .gold span {
      vertical-align: top;
      float: right;
      padding-right: 0.5em; }

.score {
  display: inline-block;
  height: 100%;
  position: absolute;
  right: 0;
  width: 23rem;
  background: #990;
  margin-top: 0.5rem; }
  .score .points {
    display: inline-block;
    font-size: 2em;
    margin-top: 0.5rem; }

.sound {
  float: right;
  height: 32px;
  width: 32px;
  display: inline-block;
  margin-right: 0.5em;
  background: url("http://placehold.it/32x32"); }

.music {
  float: right;
  height: 32px;
  width: 32px;
  display: inline-block;
  background: url("http://placehold.it/32x32"); }

.game {
  width: 100%;
  min-height: 600px;
  background: url("http://placehold.it/800x600"); }
